*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
*::placeholder{
    color: #fac0c0a6;
}
input:focus-within{
    outline: none;
}
body{
    background-color: #160101;
    color: #fac0c0;
}
button{
    width: 5rem;
    height: 2.5rem;
}
button:hover{
    color: #160101;
    background-color: #fac0c0;
}
