@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    border: none;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Courier Prime', monospace;
    --darkmode-color: #2F4F4F;
    --darkmode-bgcolor: #F5DEB3;
}

body {
    background-color: #F5DEB3;
    color: #2F4F4F;
    font-size: larger;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2F4F4F;
    height: 5vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: #2F4F4F;
}

input:focus-within {
    outline: none;
}

input::placeholder {
    color: #f5deb381;
}

textarea:focus-within {
    outline: none;
}

textarea::placeholder {
    color: #f5deb381;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0rem;
}

.nav-div .nav-itens {
    margin-right: 1rem;
    height: 5vh;
    padding: 1rem;
    padding-top: 1.2rem;
}

.nav-div .nav-itens:hover {
    scale: 1.1;
    background-color: #2F4F4F;
    color: #F5DEB3;
    transition: 500ms;
    font-weight: 700;
}

.main-body {
    display: grid;
    padding: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.main-noteblock {
    border: 1px solid #2F4F4F;
    min-height: 25vh;
    max-height: 25vh;
    min-width: 25vw;
    max-width: 25vw;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 1rem 0.6rem 1rem #2F4F4F;
    font-weight: 700;
    padding-left: 1rem;
}

.main-noteblock:hover {
    scale: 1.15;
    background-color: #2F4F4F;
    color: #F5DEB3;
    transition: 700ms;
    font-weight: 700;
    box-shadow: none;
}

.main-noteblock:hover .ntblock-icon div {
    background-color: #F5DEB3;
}

.ntblock-icon {
    height: 5vh;
    width: 2vw;
    position: relative;
    left: 85%;
    padding: 0.3rem;
}

.ntblock-icon div {
    background-color: #2F4F4F;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-bottom: 0.2rem;
}

.ntblock-header {
    display: flex;
}

.ntblock-header span {
    margin-left: 1rem;
    margin-top: 1rem;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.9);
    transition: all 0.4s;
    z-index: 100;
}
.modal button{
    margin-left: 18.2rem;
    font-weight: 700;
    background-color: #2F4F4F;
    color: #F5DEB3;
    width: 50%;
    height: 4rem;
    border: 1px solid #F5DEB3;
    border-radius: 10px;
}
.modal button:hover{
    scale: 1.05;
    color: #2F4F4F;
    background-color: #F5DEB3;
    transition: all 350ms;
}

#modal-note:target {
    visibility: visible;
    opacity: 1;
}

#modal-action-blocknote {
    background-color: transparent;
    display: flex;
}
#modal-action-blocknote dl{
    background-color: transparent;
    display: flex;
    position: absolute;
    bottom: 6.7rem;
    right: -5rem;
}

#modal-action-blocknote dd {
    background-color: #2F4F4F;
    color: #F5DEB3;
    width: 7rem;
    height: 3rem;
    position: relative;
    top: 5.3rem;
    right: 7.4rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: 700;
}

#modal-action-blocknote dd:hover {
    background-color: #F5DEB3;
    color: #2F4F4F;
    border: 1px solid #F5DEB3;
    scale: 1.05;
    transition: ease-in-out 400ms;
}

#modal-action-blocknote dd:hover a {
    color: #2F4F4F;
}
#modal-action-blocknote dd:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
#modal-action-blocknote dd:nth-child(2) {
    border-radius: 0 10px 10px 0;
}

#modal-action-blocknote dd a {
    background-color: transparent;
    color: #F5DEB3;
}

.modal-content {
    border: 1px solid #F5DEB3;
    border-radius: 10px;
    display: block;
    width: 80rem;
    height: 90vh;
    background-color: #2F4F4F;
    color: #F5DEB3;
    padding: 1rem;
    padding-left: 2rem;
}

.modal-header {
    display: flex;
    width: 100%;
    color: #F5DEB3;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.modal-header input {
    margin-top: 2rem;
    width: 90%;
    height: 4rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F5DEB3;
    font-size: large;
    color: #F5DEB3;
}

.modal-body textarea {
    background-color: transparent;
    border: none;
    font-size: large;
    color: #F5DEB3;
    padding: 1rem;
}

.modal-body textarea:focus {
    background-color: transparent;
    border: 1px solid #F5DEB3;
    border-radius: 10px;
    font-size: large;
    color: #F5DEB3;
    padding: 1rem;
}