.navbar {
    color: rgb(204, 232, 252);
    border-bottom: solid 1px rgb(204, 232, 252);
    width: 100vw;
    height: 3rem;
    align-items: center;
    text-align: center;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.navbar b{
    position: relative;
    left: 35rem;
}
.navbar a{
    font-size: x-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: 72rem;
    transition: 0.4s;
    height: 100%;
    width: 3rem;
    color: rgb(204, 232, 252);
}
.navbar a:hover{
    scale: 1.1;
    background-color: rgb(204, 232, 252);
    color: rgb(1, 30, 55);
    height: 100%;
}
